input[type = text], select, textarea {
    font-family: "helvetica-neue-lt-pro", Helvetica, Arial, sans-serif;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type = submit]{
    font-family: "helvetica-neue-lt-pro", Helvetica, Arial, sans-serif;
    background-color: blue;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type = submit]:hover{
    background-color: darkblue;
}

.containter {
    font-family: "helvetica-neue-lt-pro", Helvetica, Arial, sans-serif;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
}

label{
    font-family: "helvetica-neue-lt-pro", Helvetica, Arial, sans-serif;
}